@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Plant Identifier app!</h1>
    <H6>Your own personal account to store information on plants you would like to identify</H6>
    
    <h6> The steps are easy!</h6>

   <ol>
    <li>  Register an account with us</li>
    <li> Upload a picture of a plant you woudl liek to identify</li>
    <li> our service will do the rest and return the information of such plant to you</li>

       <li> You can also choose to save your results into a collection to view them in successive moment!</li>

       <a href="#"> Register An account!</a>
       <a href="#"> Log in!</a>
</ol>


</li>
</div>
